* { 
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html, body {   
    height: 100%;
}

footer {
    padding: 10px;
    width: 100%;
    height: 10%;
    background-color:lightgray;
    margin-top:3%;
}
header{
    padding: 10px;
    width: 100%;
    height: 10%;
    background-color:lightgray;
    margin-bottom:3%;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;

}
#article1{
    padding: 10px;
    height: 33.33%;
    background-color:limegreen;
}
#article2{
    padding: 10px;
    height: 33.33%;
    background-color:rgb(5, 122, 5);
}
#aside3{
    padding: 10px;
    height: 33.33%;
    background-color:rgb(219, 219, 35);
}

@media(min-width:768px){
    .container{
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 80%;
    
    }
    #article1{
        height: 60%;
        width:100%;
    }
    #article2{
        height: 40%;
        width:50%;
    }
    #aside3{
        height: 40%;
        width:50%;
    }

}

@media(min-width: 1025px){
    .container{
        
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: 80%;
    
    }
    #article1{
        order: 1;
        height: 100%;
        width:50%;
    }
    #article2{
        padding: 10px;
        height: 100%;
        width:25%;
    }
    #aside3{
        order:3;
        padding: 10px;
        height: 100%;
        width:25%;
    }

}