* { 
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html, body {   
    height: 100%;
}

footer {
    padding: 10px;
    width: 100%;
    height: 10%;
    background-color:lightgray;
    margin-top:3%;
}
header{
    padding: 10px;
    width: 100%;
    height: 10%;
    background-color:lightgray;
    margin-bottom:3%;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;

}
#article1{
    padding: 10px;
    height: 33.33%;
    background-color: red;
}
#article2{
    padding: 10px;
    height: 33.33%;
    background-color: orange;
}
#aside3{
    padding: 10px;
    height: 33.33%;
    background-color: yellow;
}
@media(min-width:768px){
    .container{
        
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: 80%;
    
    }
    #article1{
        height: 50%;
        width:50%;
        background-color: red;
    }
    #article2{
        height: 50%;
        width:50%;
        background-color: orange;
    }
    #aside3{
        height: 100%;
        width:50%;
        background-color: yellow;
    }

}
@media(min-width: 1025px){
    .container{
        
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: 80%;
    
    }
    #article1{

        height: 50%;
        width:70%;
        background-color: red;
    }
    #article2{
        padding: 10px;
        height: 50%;
        width:70%;
        background-color: orange;
    }
    #aside3{
        padding: 10px;
        height: 100%;
        width:30%;
        background-color: yellow;
    }

}